extends ../../layout

block content
  h3 Port List

  a(href='/port/add' class="btn btn-default") Add

  table(class="table")
    thead
      tr
        th ID
        th Name
        th Number
        th Country
        th Address

    tbody
      each port in ports
        tr
          td #{port.id}
          td #{port.name}
          td #{port.number}
          td #{port.country}
          td #{port.address}

          td
            a(href=`/port/edit/${port.id}` class="btn btn-default") Edit
            a(href=`/port/remove/${port.id}` class="btn btn-default") Delete

  form(id='fint_port-add-form' name='fint_port-add-form' class='form-horizontal' method="GET" action='')
    div(class='form-group')
      div(class='col-md-3')
        label(for='searchString') Search string (by Name)
      div(class='col-md-9')
        input(id='searchString' name='searchString' class='form-control')
    div(class='form-group')
      div(class='col-md-12')
        button(type='submit' class='btn btn-primary') Find